{% load static %}
<!DOCTYPE html>
<html>

<!--Victoria Bedar-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Client Details</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="topnav">
        <a href="\">Home</a>&ensp;
        </div>

    <div style="padding-left:20px">
    <h1>Thank you for your reservation {{reservation.Name}}!</h1>
    <p>We hope to see you at {{reservation.Time}} at table(s) {{reservation.Table}}.</p>
    {% if reservation.isHighTraffic %}
    <p>Your reservation is on a busy day. Failure to show up will result in a minimum $10 fine!</p>
    {% endif %}

    </div>
    
</body>