<!DOCTYPE html>
<html lang="en">


<head>
    <title>Home</title>
</head>

<body>
    <div>
        
            <h1 class=""> Log in</h1>
            
            <div>
                <style>
                    h5{
                        color:red;
                    }
                </style>
                {% for message in messages %}
                <h5>{{message}}</h5>
                {% endfor %}
            </div>
            
            <form action="", method="POST">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username" class="" style="border: 1px solid #d3d5d8 !important;">
                <input type="password" name="password" placeholder="Password" class="" style="border: 1px solid #d3d5d8 !important;">
                
                <button type="submit" class="">Login</button>
                <div class="">
                    <p class=""> Not registered? <a href="/signup" class=""> Create a account </a></p>
                </div>
            </form>
       
    </div>

</body>


</html>
